body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: Dosis, regular; }

header {
  width: 100%;
  float: left;
  min-height: 1000px;
  background-image: url("../img/body.png");
  background-repeat: no-repeat;
  background-position: top center; }

a {
  text-decoration: none; }

.menu {
  width: 100%;
  height: 60px;
  float: left;
  line-height: 60px;
  cursor: pointer;
  background: rgba(229, 230, 230, 0.3);
  text-align: center;
  margin: 0;
  padding: 0; }

.menu-butt > a {
  color: #606060; }

.menu > .menu-butt {
  display: inline-block;
  font-size: 17pt;
  margin-left: 15px; }

.menu > .menu-butt:first-child {
  margin-left: 0; }

.menu-butt > a:hover {
  border-bottom: 2px solid black; }

.discograph {
  width: 100%;
  float: left;
  background-image: url("../img/disko-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 1900px; }

.name {
  font-size: 50.49pt;
  padding: 0px 80px;
  text-transform: uppercase; }

.top-block {
  width: 100%;
  text-align: center;
  margin-top: 160px;
  float: left; }

.description {
  width: 720px;
  text-align: center;
  color: #798285;
  margin: 50px auto;
  font-size: 13pt;
  font-family: "Open Sans", regular; }

.disks {
  width: 1203px;
  margin: 0 auto;
  font-family: "Open Sans", regular; }

.disk {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 100px; }

.date_and_name {
  width: 505px;
  float: left; }

.disk_info {
  width: 674px;
  float: right; }

.disk_date {
  width: 100%;
  height: 40px;
  line-height: 40px;
  float: left;
  border-bottom: 1px solid #000;
  color: #b0b0b0;
  font-size: 11pt; }

.disk_name {
  font-weight: bold; }

.full_disk_name {
  font-size: 16pt; }

.disk_description {
  font-size: 12pt;
  color: #b2b2b2; }

.disk_info > img {
  margin-top: 33px; }

.img {
  float: left;
  width: 196px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 33px;
  background-image: url("../img/play-button.png");
  background-repeat: no-repeat;
  background-position: top center; }

.tours {
  min-height: 1420px;
  width: 100%;
  float: left;
  background-image: url("../img/concert-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center; }

.concert_info {
  width: 1203px;
  margin: 0 auto;
  text-align: left; }

.buyer {
  width: 670px;
  margin-top: 90px;
  float: left; }

.buyer_name {
  font-size: 23pt;
  font-family: "Open Sans", regular; }

.buyer_description {
  color: #798285;
  font-size: 13pt; }

.buy {
  width: 196px;
  height: 54px;
  border: 1px solid #aeb1b2;
  line-height: 54px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-top: 35px;
  float: left; }

.margin360 {
  margin-top: 320px; }

.latter {
  width: 1200px;
  margin: 0 auto;
  min-height: 1980px;
  overflow: hidden; }

.player {
  width: 1200px;
  float: left;
  margin-top: 25px;
  background: #f5f6f6; }

.left_chip {
  width: -webkit-calc(50% - 70px);
  width: calc(50% - 70px);
  padding: 35px;
  float: left; }

.right_chip {
  width: 50%;
  float: left; }

.players_date {
  width: 390px; }

.player_name {
  width: 100%;
  float: left;
  font-size: 19pt;
  font-family: "Open Sans", regular;
  margin: 25px 0 20px 0; }

.player_desc {
  width: 100%;
  float: left;
  color: #798285;
  font-size: 13pt;
  font-family: "Open Sans", regular; }

.player_button {
  float: left; }

.media_desc {
  float: left;
  margin-top: 60px; }

.icon > img {
  float: left;
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px; }

.icon {
  float: left;
  margin-left: 25px; }

.slider {
  width: 100%;
  min-height: 645px;
  float: left;
  background-image: url("../img/bg_slider.png");
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center; }

.logo {
  margin: 160px auto 50px; }

.slider_name {
  color: #fff;
  font-size: 19pt; }

.slider_desc {
  color: #798285;
  width: 517px;
  margin: 30px auto;
  font-size: 14pt; }

.slider_copy {
  color: #687174;
  width: 517px;
  margin: 66px auto;
  font-size: 13pt; }

.slider_buttons {
  margin: 0 auto;
  text-align: center; }

.slider_buttons > ul {
  margin: 0 auto;
  width: 90px; }

.slider_buttons > ul > li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #fff;
  float: left;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin-left: 15px; }

.slider_buttons > ul > li:first-child {
  margin-left: 0; }

.slider_buttons > ul > li:hover {
  cursor: pointer;
  background: #b7b7b7; }

.album {
  margin: 160px auto;
  width: 320px;
  height: 420px;
  background-image: url("../img/bg-ass.png");
  float: left;
  padding: 30px;
  margin-left: 25px; }

.album:first-child {
  margin-left: 0; }

.album_dan {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px); }

.albums {
  width: 1200px;
  margin: 0px auto 0;
  overflow: hidden; }

.albums2 {
  width: 1200px;
  margin: -300px auto 0;
  overflow: hidden; }

.albums:first-child {
  margin: 0px auto 0; }

.album_n {
  font-size: 16pt; }

.album_d {
  font-size: 13pt; }

.upcoming_events {
  width: 100%;
  float: left;
  padding-bottom: 60px;
  margin: 160px auto;
  background-image: url("../img/end_bg.png");
  background-repeat: no-repeat;
  background-position: top center; }

.upcoming_content {
  width: 600px;
  margin-left: -webkit-calc(50%);
  margin-left: calc(50%); }

.upcoming_name {
  text-align: left;
  width: 100%;
  padding: 0;
  text-decoration: underline; }

.font_20 {
  font-size: 20pt; }

.font_15 {
  font-size: 15px;
  color: #b7b7b7;
  margin-top: 20px; }

.date {
  color: #9d9d9d;
  font-weight: bold;
  font-size: 14px; }

.upcoming_name {
  margin-top: 120px; }

.upcoming_border {
  float: left;
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  margin-left: 50px;
  border-left: 2px solid #000;
  min-height: 60px;
  margin: 30px 0px 30px 50px; }

.history {
  width: 100%;
  background-image: url("../img/pre_end_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 1250px;
  float: left; }

.history > .top-block {
  margin-top: -70px; }

.contact {
  background-image: url("../img/the_end_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 860px;
  float: left; }

.send {
  width: 70%;
  float: left; }

.send > input {
  width: 100%;
  float: left;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 30px;
  background: none; }

.send_button {
  text-align: left;
  border: none;
  font-size: 15pt;
  font-weight: bold; }

.icons {
  width: 50px;
  height: 400px;
  float: left;
  background: url("../img/icons.png") no-repeat;
  margin-left: 50px; }

.address {
  float: left;
  width: 100%; }
